/* Set border-box */
.grid-container {
    height: 800px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    border: solid black;
}

/* A row is a flex container that should display it's elements horizontally */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 0;
}

/* A square is a flex item */
.square {
    flex: 1 1 0;
}


#square-number-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
